body
{
    font-family: Roboto;
    height: 100%;
    min-height: 100%;
    margin-bottom: 30px;
}

h2
{
    font-size: 24px;
}

h1
{
    display: inline;
    text-align: center;
}

li
{
    display: inline;
    list-style: none;
}

a
{
    color: red;
    padding: 20px;
}

a:hover
{
    background-color: rgb(218, 41, 28);
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    color: white;
}

.form-input
{
    margin-right: 15px;
    display: inline;
    border-radius: 5px;
    text-align: center;
}

form
{
    background-color: rgb(218, 41, 28);
    color: white;
    padding: 25px;
}

button
{
    background-color: blue;
    color: white;
    border: 2px solid blue;
}

table
{
    width: 50%;
    font-size: 24px;
    color: red;
    border: solid 2px red;
    margin: 20px;
}

th, td
{
    padding: 20px;
    border: solid 2px red;
}

.cntr
{
    text-align: center;
}